@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  scroll-behavior: smooth;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 3px;
  cursor: pointer;
}
body {
  overflow-x: hidden;
}
.preloader .overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  display: flex;
}
.preloader .overlay .bar {
  width: 10vw;
  height: 105vh;
  background: #fff;
}
.preloader .counter {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #4b4b4b;
  padding: 0.1em 0.4em;
  font-size: 10vw;
  z-index: 1000000;
  font-family: "kanit";
  font-weight: 900;
}
.preloader .preloaderImg {
  filter: grayscale(20%);
  z-index: 1000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
}
::selection {
  background: #66c887;
  color: #fff;
}
header {
  position: absolute;
  z-index: 2000;
  padding: 15px 40px;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 50px;
}
header .menu-btn {
  color: #fff;
  cursor: pointer;
  z-index: 2001;
  margin: 1em;
  font-size: 24px;
  right: 1.8%;
  position: absolute;
}
.menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #4b4b4b;
  z-index: 2000000;
  opacity: 0;
}
.menu .close-menu {
  cursor: pointer;
  position: fixed;
  margin: 1em;
  font-size: 24px;
  color: #ffff;
  z-index: 1;
  right: 1.8%;
}
.menu .nav {
  position: absolute;
  left: 21%;
  margin-top: 8%;
}
.menu .nav ul {
  list-style-type: none;
}
.menu .main-menu-item {
  padding-top: 30px;
}
.menu .main-menu-item a {
  text-decoration: none;
  color: #fff;
  position: relative;
}
.menu .submenu-item a {
  color: gray;
}
.menu .submenu li {
  margin: 20px 0;
}
.menu a i {
  position: relative;
  font-size: 9px;
  opacity: 0.4;
}
.menu .submenu {
  display: none;
  margin-left: 25%;
}
.menu .contact-nav {
  color: #fff;
  position: absolute;
  bottom: 70px;
  right: 24%;
}
.menu .contact-nav p {
  color: gray;
}
.menu .media-nav {
  position: absolute;
  bottom: 70px;
  left: 24%;
}
.menu .media-nav ul {
  list-style: none;
}
.menu .media-nav ul li {
  display: inline-block;
  padding-right: 16px;
}
.menu .media-nav ul li a {
  text-decoration: none;
  align-items: center;
  display: flex;
  gap: 3px;
  color: gray;
}
.menu .media-nav ul li a i {
  font-size: 1rem;
}
.menu .link::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.menu .link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.menu .link:hover {
  color: #081c15;
}
.menu .link::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #95d5b2;
  z-index: -1;
  transition: transform 0.3s ease;
}
.menu .nav-btn:hover,
.menu .nav-btn:focus {
  box-shadow: inset 8.9em 0 0 0 var(--hover);
  color: #4b4b4b;
}
.menu .nav-btn {
  transition: 0.25s;
  --hover: #d8f3dc;
  background: #52b788;
  border-radius: 3px;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 9px 25px;
  color: #fff;
  cursor: pointer;
  border: none;
}
.backToTop {
  display: flex;
  font-size: 23px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #40916c;
  color: #fff;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100000;
  text-decoration: none;
  bottom: 40px;
  right: -500px;
  transition: 0.5s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
}
.backToTop img {
  width: 40px;
}
.backToTop.activeBtn {
  visibility: visible;
  opacity: 1;
  right: 40px;
}
.backToTop:hover {
  color: #40916c;
  background: #fff;
}
.contact {
  padding: 15px 0px;
  z-index: 1000;
  position: fixed;
  top: 40vh;
  left: 0;
  align-items: center;
  background: #245b44;
  color: #fff;
  height: 120px;
  width: 45px;
}
.contact .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.contact span {
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  bottom: -50px;
  white-space: nowrap;
  transform: rotate(-90deg);
}
.slider {
  margin-bottom: 50px;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: -1;
}

.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
}

.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.slider .list .item.active h2 {
  animation-delay: 0.5s;
}
.slider .list .item.active p:nth-child(3) {
  animation-duration: 1.3s;
}
.slider .split {
  z-index: 100000;
  color: #fff;
  position: absolute;
  bottom: 30px;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
}
.slider .split span {
  font-weight: 800;
  text-transform: uppercase;
  font-family: "kanit";
}
.arrows {
  position: absolute;
  top: 40%;
  right: 50px;
  z-index: 100;
  display: flex;
  gap: 10px;
  display: none;
}
.courses-container {
  position: absolute;
  width: 90%;
  background: transparent;
  backdrop-filter: blur(30px);
  height: 110px;
  border-radius: 15px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.3);
  padding: 15px 30px;
  overflow: hidden;
}
.courses-container .courses-wrapper {
  width: calc(230px * 14);
  display: flex;
  justify-content: space-between;
  animation: scroll 40s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-230px * 7));
  }
}
.courses-container .courses-title {
  font-weight: 700;
  color: #fff;
}
.courses-container .wrapper {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
}
.courses-container .wrapper img {
  width: 35px;
  height: 35px;
}
.courses-container .wrapper .text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 9px;
}
.courses-container .wrapper .text-wrapper .course-desc {
  white-space: nowrap;
  font-weight: 800;
  font-size: 11px;
}

.title {
  margin: 70px 40px;
}
.title span {
  font-size: 15px;
}
.textFromLeft {
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0.1s;
}
.right .text-right {
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0.1s;
  text-align: right;
}
.course-info.revealActive {
  transform: scaleX(1);
}

section .course-img img {
  /* min-width: 350px;
  width: 40%; */
  width: 350px;
  opacity: 0;
  transition: 0.5s;
  position: relative;
  bottom: -100px;
}
section .course-img img.revealActiveimg {
  opacity: 1;
  bottom: 0;
}
section .course-info {
  margin-top: 30px;
}
section .course-info .course-img {
  position: absolute;
  right: -230px;
  top: -50px;
  opacity: 0.1;
  z-index: -100;
}
section .course-info span {
  font-size: 20px;
}
section .course-info h2 {
  font-size: 50px;
  color: #2d6a4f;
}
section .course-info p {
  font-size: 13px;
  width: 450px;
}
section .text-right p {
  margin-left: auto;
}
.courses {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 10px 70px;
  justify-content: space-between;
  position: relative;
}

.courses button {
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  background-color: #2d6a4f;
  color: #fff;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.courses button:hover {
  opacity: 0.8;
}

/* footer */
footer {
  width: 100%;
  background: #f5fff6;
}
footer .footer-wrapper {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}
footer .footer-wrapper .right-side {
  align-items: right;
}
footer .footer-wrapper .footer-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
}
footer .footer-wrapper .left-side p {
  font-size: 12px;
}
footer .footer-wrapper .footer-title span {
  font-size: 40px;
  color: #40916c;
}
footer .left-side img {
  width: 60px;
}
footer .foot-info {
  width: 100%;
  height: 25px;
  background: #40916c;
  padding: 0px 25px;
  font-size: 8px;
  color: #ffff;
  align-items: center;
  display: flex;
  font-weight: 300;
}
.contact-wrapper {
  text-align: right;
}
.contact-wrapper .footer-contact {
  font-size: 17px;
  color: #2d6a4f;
  font-weight: 700;
}
.contact-wrapper .contact-info {
  font-size: 10px;
  font-weight: 500;
}
footer .footer-wrapper .right-side {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: -50px;
}
footer .footer-wrapper .middle-side {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .footer-wrapper .middle-side a {
  color: #40916c;
  transition: all 0.2s ease-in-out;
}
footer .footer-wrapper .middle-side a:hover {
  font-size: 25px;
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
@media only screen and (min-width: 300px) and (max-width: 900px) {
  .contact-nav {
    display: none;
  }
  .slider .split {
    font-size: 5rem;
    left: 50%;
    bottom: 30%;
  }
  .bg-container .courses-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .courses {
    height: 70vh;
    padding: 10px;
  }
  section .course-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section .course-info h2 {
    text-align: center;
    font-size: 2rem;
  }
  section .course-info p {
    width: 90%;
    text-align: center;
  }
  .course-img img {
    display: none;
  }
  footer {
    height: auto;
  }
  footer .foot-info {
    margin-top: 40px;
  }
  footer .footer-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .footer-wrapper .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  footer .footer-wrapper .right-side {
    margin-top: 20px;
  }
  footer .footer-wrapper .left-side .footer-title {
    line-height: 30px;
  }
  footer .footer-wrapper .right-side .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .footer-wrapper .middle-side {
    opacity: 0;
    pointer-events: none;
  }
  footer .footer-wrapper .left-side p {
    white-space: normal;
    text-align: center;
    margin-top: 5px;
  }
}
