@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 3px;
  cursor: pointer;
}
body {
  overflow-x: hidden;
}

::selection {
  background: #66c887;
  color: #fff;
}
header {
  position: absolute;
  z-index: 2000;
  padding: 15px 40px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  pointer-events: none;
  width: 50px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
header .menu-btn {
  color: #000;
  cursor: pointer;
  z-index: 2001;
  margin: 1em;
  font-size: 24px;
  right: 1.8%;
  position: absolute;
}
.menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #4b4b4b;
  z-index: 2000000;
  opacity: 0;
  visibility: hidden;
}
.menu .close-menu {
  cursor: pointer;
  position: fixed;
  margin: 1em;
  font-size: 24px;
  color: #ffff;
  z-index: 1;
  right: 1.8%;
}
.menu .nav {
  position: absolute;
  left: 21%;
  margin-top: 8%;
}
.menu .nav ul {
  list-style-type: none;
}
.menu .main-menu-item {
  padding-top: 30px;
}
.menu .main-menu-item a {
  text-decoration: none;
  color: #fff;
  position: relative;
}
.menu .submenu-item a {
  color: gray;
}
.menu .submenu li {
  margin: 20px 0;
}
.menu a i {
  position: relative;
  font-size: 9px;
  opacity: 0.4;
}
.menu .submenu {
  display: none;
  margin-left: 25%;
}
.menu .contact-nav {
  color: #fff;
  position: absolute;
  bottom: 70px;
  right: 24%;
}
.menu .contact-nav p {
  color: gray;
}
.menu .media-nav {
  position: absolute;
  bottom: 70px;
  left: 24%;
}
.menu .media-nav ul {
  list-style: none;
}
.menu .media-nav ul li {
  display: inline-block;
  padding-right: 16px;
}
.menu .media-nav ul li a {
  text-decoration: none;
  align-items: center;
  display: flex;
  gap: 3px;
  color: gray;
}
.menu .media-nav ul li a i {
  font-size: 1rem;
}
.menu .link::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.menu .link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.menu .link:hover {
  color: #081c15;
}
.menu .link::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #95d5b2;
  z-index: -1;
  transition: transform 0.3s ease;
}
.menu .nav-btn:hover,
.menu .nav-btn:focus {
  box-shadow: inset 8.9em 0 0 0 var(--hover);
  color: #4b4b4b;
}
.menu .nav-btn {
  transition: 0.25s;
  --hover: #d8f3dc;
  background: #52b788;
  border-radius: 3px;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 9px 25px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.container {
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  transition: all 0.3s ease;
}
.maps .switch {
  top: 50%;
  transform: translate(-50%);
  right: -45px;
  z-index: 100000;
  cursor: pointer;
  position: absolute;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}
.container .maps {
  border-radius: 10px;
  position: relative;
}
header img.hidden {
  opacity: 0;
  visibility: hidden;
}
.container .maps iframe {
  width: 25vw;
  height: 97vh;
  border-radius: 10px;
}
.container .maps iframe,
.inputContainer {
  transition: width 0.5s ease;
}
.container.toggled iframe {
  width: 75vw;
}
.container.toggled .inputContainer {
  width: 25vw;
}
.container.toggled #contactForm {
  width: 90%;
}
.inputContainer {
  height: 100%;
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container #contactForm {
  width: 50%;
  z-index: 1000;
}
.container .inputs .texts {
  margin-bottom: 10px;
  user-select: none;
}
.container .inputs .texts .split {
  font-size: 45px;
  letter-spacing: 2px;
  font-weight: 700;
  white-space: nowrap;
}
.container .inputs input {
  background: #fff;
  border: none;
  outline: none;
  border-bottom: 2px solid #dddd;
  border-radius: 5px;
  padding: 8px 14px;
  letter-spacing: 1px;
  width: 100%;
}
.container .inputs .name {
  display: flex;
  gap: 15px;
  width: 100%;
}
.container .inputs .name input {
  width: 100%;
}
.container .inputs .wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.container .inputs .input-box {
  margin-top: 22px;
  width: 100%;
  position: relative;
}
.container .inputs .input-box .icon {
  position: absolute;
  right: 5px;
  padding: 8px 14px;
  font-size: 0.8rem;
  pointer-events: none;
  color: #5e5e5e;
  top: 50%;
  transform: translatey(-50%);
}
.container .inputs .content {
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}
.container .inputs .input-box span {
  font-family: "montserrat";
  position: absolute;
  left: 0;
  padding: 8px 14px;
  font-size: 12px;
  transition: 0.5s;
  pointer-events: none;
  color: rgb(58, 58, 58, 0.7);
}
.container .inputs .error-message {
  font-size: 10px;
  color: red;
  white-space: nowrap;
  position: absolute;
  bottom: -15px;
}
.input-box input:focus ~ span,
.input-box input:valid ~ span {
  color: green;
  text-transform: uppercase;
  font-size: 10px !important;
  transform: translateY(-22px) translateX(-6px);
  padding: 0 5px;
  background: transparent;
}
.container .inputs textarea {
  resize: none;
  height: 20vh;
  background: #fff;
  border: none;
  outline: none;
  border-bottom: 2px solid #dddd;
  border-radius: 5px;
  padding: 8px 14px;
  letter-spacing: 1px;
  width: 100%;
}
.container .inputs button {
  position: relative;
  width: 100%;
  color: #fff;
  border: none;
  background-color: #1b4332;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.125rem;
  outline: none;
  padding: 5px 2px;
}
.container .inputs button i {
  font-size: 0.8rem;
}

.area {
  border-radius: 15px;
  position: absolute;
  background: #d8f3dc;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100%;
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(82, 183, 136, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* footer */
footer {
  width: 100%;
}
footer .footer-wrapper {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}
footer .footer-wrapper .right-side {
  align-items: right;
}
footer .footer-wrapper .footer-title {
  font-weight: 700;
  font-size: 25px;
}
footer .footer-wrapper .left-side p {
  font-size: 12px;
  margin-top: -10px;
}
footer .footer-wrapper .footer-title span {
  font-size: 40px;
  color: #40916c;
}
footer .left-side img {
  width: 60px;
}
footer .foot-info {
  width: 100%;
  height: 25px;
  background: #40916c;
  padding: 0px 25px;
  font-size: 8px;
  color: #ffff;
  align-items: center;
  display: flex;
  font-weight: 300;
}
.contact-wrapper {
  text-align: right;
}
.contact-wrapper .footer-contact {
  font-size: 17px;
  color: #2d6a4f;
  font-weight: 700;
}
.contact-wrapper .contact-info {
  font-size: 10px;
  font-weight: 500;
}
footer .footer-wrapper .right-side {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: -50px;
}
footer .footer-wrapper .middle-side {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .footer-wrapper .middle-side a {
  color: #40916c;
  transition: all 0.2s ease-in-out;
}
footer .footer-wrapper .middle-side a:hover {
  font-size: 25px;
}
@media only screen and (min-width: 300px) and (max-width: 900px) {
  .nav {
    margin-top: 20%;
  }
  .contact-nav {
    display: none;
  }
  footer {
    height: auto;
  }
  footer .foot-info {
    margin-top: 40px;
  }
  footer .footer-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .footer-wrapper .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  footer .footer-wrapper .right-side {
    margin-top: 20px;
  }
  footer .footer-wrapper .left-side .footer-title {
    line-height: 30px;
  }
  footer .footer-wrapper .right-side .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .footer-wrapper .middle-side {
    opacity: 0;
    pointer-events: none;
  }
  footer .footer-wrapper .left-side p {
    white-space: normal;
    text-align: center;
    margin-top: 5px;
  }
  .container .inputs .name {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }
  .container #contactForm {
    width: 85%;
    z-index: 1000;
  }
  .container .inputs .texts span {
    font-size: 40px;
    letter-spacing: 1px;
    white-space: normal;
  }
  .container .inputs .texts p {
    font-size: 0.9rem;
  }
  .container .maps iframe {
    width: 20vw;
  }
  .inputContainer {
    width: 80vw;
  }
  .container.toggled iframe {
    width: 90vw;
  }
  .container.toggled .inputContainer {
    width: 10vw;
  }
  .container.toggled #contactForm {
    transform: translateX(70px);
  }
  .container.toggled header img {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
